
.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
   
}
.bubbles {
    width: 100%;
    display: flex;
    align-items: flex-end; /* Align bubbles to the bottom of the container */
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}


@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}



