/* General Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  animation: zoomInPop 1.5s forwards;
}

@keyframes zoomInPop {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Login and Sign-up Box Styling */
.login-box,
.sign-up-box,
.dog-details-box {
  background-color: #f5e3c1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #96683c;
  width: 300px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Input Fields Styling */
input[type="text"],
input[type="password"],
input[type="email"],
.dog-details-box input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #96683c;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  transition: 0.2s ease;
  background-color: #fff;
}

/* Focus State for Input Fields */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.dog-details-box input:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

/* User Box Styling */
.user-box {
  position: relative;
}

/* Label Styling in User Box */
.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #96683c;
  pointer-events: none;
  transition: 0.5s;
}

/* Label Position When Input is Focused or Has Valid Content */
.user-box input:focus~label,
.user-box input:valid~label {
  top: -15px;
  font-size: 1px;
  color: #65a4f0;
  display: none;
}

/* Modal Buttons Styling */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Each Button in the Modal Styling */
.modal-buttons button {
  cursor: pointer;
  background: #96683c;
  border: none;
  padding: 10px 20px;
  color: #f5e3c1;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

/* Hover Effect for Modal Buttons */
.modal-buttons button:hover {
  background: rgb(101, 170, 240);
  color: #f5e3c1;
}

/* Dog Icons Styling */
.dog-icon1,
.dog-icon2,
.dog-icon3 {
  width: 80px;
  height: 80px;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 80px;
  text-align: center;
  font-size: 40px;
  color: #96683c;
  position: absolute;
}

.dog-icon1 {
  top: -30px;
  right: 1px;
}

.dog-icon2 {
  top: -25px;
  right: 100px;
}

.dog-icon3 {
  top: -30px;
  right: 1px;
}

/* Animation for Slide-In Effect */
.slide-from-right {
  animation: slideInFromRight 0.5s ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}




