/* @media screen and (max-width: 480px){
 
}
@media  screen and (max-width: 430px) {


  
}
@media  screen and (max-width: 428px) {
 
   
 }
 @media  screen and (max-width: 414px) {
 
   
 }
 @media  screen and (max-width: 412px) {

   
 }
 @media  screen and (max-width: 393px) {

   
 }
 @media  screen and (max-width: 384px) {
 
   
 }
 @media  screen and (max-width: 360px) {
  
   
 }*/
 @media screen and (max-width:480px){
  body{
    box-sizing: border-box;
  }
 }

 @media screen and (max-width: 480px) {
  .parallax_background {
    width: 480px;
    height: 230px;
  }
}

@media screen and (max-width: 430px) {
  .parallax_background {
    max-width: 430px;
    height: 230px;
  }
}

@media screen and (max-width: 428px) {
  .parallax_background {
    max-width: 428px;
    height: 230px;
    background-position: top -50%;
  }
}

@media screen and (max-width: 414px) {
  .parallax_background {
    max-width: 414px;
    height: 230px;
  }
}

@media screen and (max-width: 412px) {
  .parallax_background {
    max-width: 412px;
    height: 230px;
  }
}

@media screen and (max-width: 393px) {
  .parallax_background {
    max-width: 393px;
    height: 230px;
  }
}

@media screen and (max-width: 384px) {
  .parallax_background {
    max-width: 384px;
    height: 230px;
  }
}

@media screen and (max-width: 360px) {
  .parallax_background {
    max-width: 360px;
    height: 230px;
  }
}

@media screen and (max-width: 480px){
  .parallax_background1{
    height: 230px;
    width: 480px;
  }
}
@media  screen and (max-width: 430px) {

 .parallax_background1{

  height: 230px;
  width: 430px

 }
  
}
@media  screen and (max-width: 428px) {
  .parallax_background1{

   height: 230px;
   width: 428px;
 
  }
   
 }
 @media  screen and (max-width: 414px) {
  .parallax_background1{

   height: 230px;
   width: 414px;
 
  }
   
 }
 @media  screen and (max-width: 412px) {
  .parallax_background1{

   height: 230px;
   width: 412px;
 
  }
   
 }
 @media  screen and (max-width: 393px) {
  .parallax_background1{

   height: 230px;
   width: 393px;
 
  }
   
 }
 @media  screen and (max-width: 384px) {
  .parallax_background1{

   height: 230px;
   width: 384px;
 
  }
   
 }
 @media  screen and (max-width: 360px) {
  .parallax_background1{
    
   height: 230px;
   width: 360px;
 
  }
   
 }


 @media screen and (max-width: 480px) {
  .parallax_background2 {
    height: 230px;
    max-width: 480px;
  }
}

@media screen and (max-width: 430px) {
  .parallax_background2 {
    height: 230px;
    max-width: 430px;
  }
}

@media screen and (max-width: 428px) {
  .parallax_background2 {
    height: 230px;
    max-width: 428px;
  }
}

@media screen and (max-width: 414px) {
  .parallax_background2 {
    height: 230px;
    max-width: 414px;
  }
}

@media screen and (max-width: 412px) {
  .parallax_background2 {
    height: 230px;
    max-width: 412px;
  }
}

@media screen and (max-width: 393px) {
  .parallax_background2 {
    height: 230px;
    max-width: 393px;
  }
}

@media screen and (max-width: 384px) {
  .parallax_background2 {
    height: 230px;
    max-width: 384px;
  }
}

@media screen and (max-width: 360px) {
  .parallax_background2 {
    height: 230px;
    max-width: 360px;
  }
}


@media  screen and (max-width: 500px) {
 
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
}
@media  screen and (max-width: 428px) {
 
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
}
@media  screen and (max-width: 414px) {
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
}

@media screen and (min-width: 480px){
  .twopuppies img {
   margin: 10px 0px 0px 0px;
   width: 49%;
   height: 20%;
  }
}



